:root{
  --primary: #033b5c;
  --secondary: #FFC107;
  --light-gray: #DADCE0;
}

.ui-button {
  
  background-color: var(--primary);
  color: white;
  border: 0;
  margin: 5px;
  padding: 15px 20px;
  margin-bottom: 10px;
  min-width: 150px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 200ms ease-out;
  /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 9px #999;

}

.ui-button:hover {
  opacity: 0.8;
}

.ui-button:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



.square {
  width: 20px;
  height: 20px;
  border-color: black;
  border-width: 1px;
  margin-top: -50px;
}

.bigSquare{
  /* margin-bottom: -2px;
  margin-top: -2px; */
  margin: -2px;
}
